@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #F9FAFB;
    font: normal 15pt Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* faz o body ter altura total da tela */
    margin: 0; /* tira margens padrão */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    --background-color: rgb(41, 41, 41);
    background-color: #222222;
    color: #e2e2e2;
    width: 500px;
    height: 50px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

section {
    --background-color: rgb(66, 66, 66);
    --background: linear-gradient(#333333, #555555);
    background-color: #FFFFFF;
    width: 500px;
    height: 795px;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    text-align: center;
}

footer {
    text-align: center;
}

span {
    color: #374151;
}

#foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}


#txtaltura, #txtpeso {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    width: 180px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    border: #D1D5DB 2px solid;
}

input[type="number"] {
    padding: 5px;
}

input:focus {
    --outline: none; /* remove o contorno padrão */
    outline: 2px solid #10B981; /* coloca sua borda azul */
}

.title {
    color: yellowgreen;
}

#btn {
    margin-top: 30px;
    padding: 10px;
    --background-color: yellowgreen;
    --background-color: #4CAF50;
    background-color: #10B981;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 180px;
    font-size: 15px;
    margin-bottom: 30px;
    transition: 0.3s;
}

#btn:hover {
    background-color: #52A372;
    --color: #fff;
}

#btnLimpar {
    margin-top: 10px;
    padding: 10px;
    background-color: #90CDF4;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 180px;
    font-size: 15px;
    margin-bottom: 30px;
    transition: 0.3s;
}

#btnLimpar:hover {
    background-color: #5A9ED6;
    color: white;
}

section .direitos p{
    color: #374151;
    font-style: italic;
    font-size: 10pt;
}

